<div class="row">
  <center><h2><%= t("contact.title") %></h2></center>
  <div class="col-xs-12">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores autem vero eius veniam odit sint cupiditate deserunt. Eum rem quam, veritatis eos optio iure perferendis possimus sapiente accusamus odit!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, repellendus quibusdam culpa, debitis rem laudantium impedit. Alias vero ex assumenda itaque quos. Numquam, eveniet, fugit. Laborum quam recusandae illum fugit.
  </div>
</div>
