<style>
  .test {
    position: absolute;
  }
</style>

<div class="col-md-12" ng-controller="HomeController">
  <h2 ng-repeat="lesson in lessons" ng-hide="!isCurrentIndex($index)"
  class="test slide-animation" ng-mouseenter="pause()" ng-mouseleave="resume()">{{ lesson }}<h2>
</div>

<script>
  var div = $("#main");
  TweenLite.to(div, 2, {left: "1000px"});
</script>
