<div class="comment-area col-xs-12">
  <center ng-if="comments && comments.length > 0 || isLoggedIn"><h3 translate>{{ commentTitle }}</h3></center>
  <div class="comment" ng-repeat="comment in comments">
    <div class="comment-avatar">
      <a ng-href="/users/{{ comment.user.id }}">
        <img ng-src="{{ comment.user.avatar.url }}" alt="{{ comment.user.username }}" width="48" height="48">
      </a>
    </div>
    <div class="comment-box">
      <header>
        <span class="comment-by">{{ comment.user.username }}</span> - 
        <span class="comment-at" time-ago="comment.created_at"></span>
      </header>
      <pre>{{ comment.body }}</pre>
    </div>
  </div>
  <div class="comment-form" ng-if="isLoggedIn">
    <form name="form" ng-submit="createComment()" class="form" novalidate>
      <div class="form-group">
        <textarea name="body" ng-model="comment.body" class="form-control" required></textarea>
      </div>
      <div class="form-group">
        <button ng-disabled="form.$invalid" class="form-control btn btn-danger" translate="commentButtonLabel"></button>
      </div>
    </form>
  </div>
</div>
