<div ng-repeat="episode in object.paginate.episodes">
  <div class="col-xs-6 col-sm-6 col-md-4 card">
    <h3>
      <a ng-href="/lessons/{{ episode.lesson_slug }}/episodes/{{ episode.title }}">{{ episode.title }}</a>
      <span>{{ episode.duration }}</span>
    </h3>
    <a ng-href="/lessons/{{ episode.lesson_slug }}/episodes/{{ episode.slug }}">
      <div style="background: -webkit-linear-gradient(top, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url({{ episode.image.url }}); background-size: 100% 100%;"></div>
    </a>
  </div>
</div>
