<div ng-repeat="lesson in object.paginate.lessons">
  <div ng-if="lesson.episode_count > 0" class="col-xs-6 col-sm-6 col-md-4 card">
    <h3>
      <a ng-href="/lessons/{{ lesson.slug }}/episodes/{{ lesson.start_episode_slug }}">{{ lesson.name }}</a>
      <span>Total: {{ lesson.episode_count }}</span>
    </h3>
    <a ng-href="/lessons/{{ lesson.slug }}/episodes/{{ lesson.start_episode_slug }}">
      <div style="background: -webkit-linear-gradient(top, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(); background-size: 100% 100%;"></div>
    </a>
  </div>
</div>
