<tr>
  <td><%= user.id %></td>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td>
    <%= link_to t("users.index.table.link.delete"), [:admin, user], method: :delete, data: {confirm: "Are you sure?"} %>
  </td>
</tr>
